:root {
    --app-primary-color: #e2b13c;
    --app-primary-dark-color: #fab005;
    --app-secondary-color: #fff;
    --app-third-color:#000;
    --app-light-beige-color: #f8f7f6;
    --app-banner-font-size: 48px;
    --app-header-height: 90svh;
    --app-navbar-height: 80px;
    --app-banner-height: 300px;
    --app-footer-height: 60px;
    --app-footer-font-size: 16px;
    --app-section-margin-top: 30px;
    --app-section-margin-bottom: 80px;    
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex{
    display: flex;
}
.grid-center{
    place-items: flex-start;
}

.flex-between{
    justify-content:space-between;
}
.grid{
    display:grid;
}

.gap-10{
    gap:10px;
}

.container {
    width: min(100% - 5%, 1080px);
    margin-inline: auto;
}

body{
    background-color: #353935;
    font-weight: 100;
}
.Logo{
font-family: "Monoton", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: inline-block;
  color: white;

}
/*------------*/
/*hero Banner*/
/*-----------*/
.home{
    background: #fff url(../img/Hero-banner.png)no-repeat  ;
    height: var(--app-header-height);
    background-size:cover;
   background-color: rgba(0, 0, 0, 0.5); 
}
.hero-banner-content {
    color: #fff;

    p {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }
}

.hero-banner {
    height: calc(80svh - 80px);
    text-align: center;

    h3 {
        font-size: 50px;
        font-weight: 900;
        color: var(--app-secondary-color);
        line-height: 1;
    }

    p {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 400;
        color: var(--app-secondary-color);
        letter-spacing: 0.6px;
    }

    .hero-banner-buttons {
        margin-top: 30px;

        a {
            border-radius: 5px;
            padding: 8px 25px;
            font-size: 17px;
            transition: all 0.25s ease-in-out;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
        }

        .primary {
            background-color: var(--app-primary-color);
            color: var(--app-third-color);
            display: inline-block;
        }

        .primary:hover {
            background-color: var(--app-primary-dark-color);
            transform: scale(1.1);
        }    
    }
}

nav ul li a{
    text-decoration: none;
    color : #fff;
}
.navbar{
    height: var(--app-banner-height);
    padding-top:20px;
}
.sign-in-button {
  background-color: #000; 
  font-family: "Monoton", sans-serif;
  color: #fff;        
  border: 2px solid #fff; 
  padding: 5px 15px;
  font-size: 15px;
  font-family: inherit;
  border-radius: 9px;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.4s ease-in-out;

}
.sign-in{
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
   word-spacing: 5px;
 
}

.sign-in-button:hover {
    background-color: whitesmoke;
    color: #000;
   

}
h1{
    color:#fff;
     font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;

}
.slogan{
    margin-top:-30px;
    line-height: 20px;
    color: #fff;
   p{
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
   }
}
.email-input{
    padding :
    16px 15px;
    width: 500px;
    font-size: 20px;
   border:none;
}
.email-input:focus{
    outline: none;
    border: none;
}
.sign-up-button{
    padding:16px 10px;
    width:150px;
    border-radius: 8px;
    font-size: 20px;
    
    background-color: #000;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    height: 60px;
}
.sign-up-form{
    display: inline-block;
    align-items: center;
}
.offers {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50%;
  margin-right: -50%;
  width: 100%;
  background-color: #161a16;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 150px;
}
.prices{
    background-color: #fff;
    font-family: "Ubuntu", sans-serif;
}